node_modules
npm-debug.log
*.log
.env
.env.*
data
keys
.env.local
.git
.gitignore
**/*.p8
**/*.pem
**/*.p12
**/*.key
**/*service-account*.json
**/*firebase*.json
**/*fcm*.json
**/*apns*.json
**/*apns*.p8
**/notify-config.sqlite*
**/notify.sqlite*
